<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>laserGreenShot.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,80},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>laserOrangeShot.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,62},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>laserRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,104},{10,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,5}}</string>
                <key>sourceSize</key>
                <string>{10,5}</string>
            </dict>
            <key>laserRedShot.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,44},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>laser_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,104},{10,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,5}}</string>
                <key>sourceSize</key>
                <string>{10,5}</string>
            </dict>
            <key>rock_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>rock_med.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>rock_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,98},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>rship_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,116},{23,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>rship_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,104},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>ufo.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{40,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,17}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d23a3680823f0aba4e07059c7c1d623:2bef0a81319bc5541de6df01f93f125c:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
