<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>muzzle2_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{1,1}}</string>
                <key>offset</key>
                <string>{-31.5,31.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,130},{26,24}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{26,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{50,46}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,156},{20,24}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,96},{26,32}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{26,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,134},{30,38}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{30,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,96},{36,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{36,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,52},{42,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{42,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{48,58}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{48,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,58}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{52,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{36,36}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{36,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{38,36}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{38,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,166},{36,36}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{36,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{36,36}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{36,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{34,34}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{34,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,218},{32,32}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{32,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,178},{12,12}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{12,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,204},{14,12}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{14,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,204},{14,12}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{14,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,190},{14,14}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{14,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,178},{16,14}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,15},{16,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{16,16}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{16,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,154},{16,16}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{16,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>muzzle2_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,134},{18,16}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{18,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>muzzle.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc278830a75ed97b7c8c16878471b842:25293f6492faa209fd8533c8c3d75bc1:aa8fdc51498c250bd8bef09b50ab07b3$</string>
            <key>textureFileName</key>
            <string>muzzle.png</string>
        </dict>
    </dict>
</plist>
