<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>goback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>icon_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,41},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>online.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>options.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,42},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,82},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,42},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,82},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{425,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99fefab979e6abfbeaf7e34f0379a5a6:3baa0d25bf1140f1cb28f13c2ed05ff4:e1a9b31caf258d7c92150a6ccbde6fbd$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
